DATABASE_URL=postgresql://neondb_owner:npg_Y2jvRxm8ZhAC@ep-polished-sun-acqm10br-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SYNC_KEY=
APP_URL=https://app-arjun.vercel.app
